/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}

.text-red {
  color: red;
}

.text-inline {
  display: inline;
}

.alert {
  transition:opacity 5s linear !important;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.display-inline {
  display: inline !important;
}

.add-margin {
  margin: 15px !important;
}
